In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('235745_parking_data/train.csv')
df.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [19]:
df['임대보증금'].isnull()

KeyError: '임대보증금'

In [5]:
df['단지코드'].nunique()

423

### Error1

In [6]:
sum_fam = df.groupby('단지코드')['전용면적별세대수'].sum()
sum_fam

단지코드
C1000     566
C1004     521
C1005    1144
C1013    1308
C1014     996
         ...
C2663     772
C2666    1084
C2670     648
C2680     758
C2692     499
Name: 전용면적별세대수, Length: 423, dtype: int64

In [7]:
tot_fam = df.groupby('단지코드')['총세대수'].unique()
tot_fam

단지코드
C1000     [566]
C1004     [521]
C1005    [1144]
C1013    [1308]
C1014     [996]
          ...
C2663     [772]
C2666    [1084]
C2670     [648]
C2680     [758]
C2692     [499]
Name: 총세대수, Length: 423, dtype: object

In [8]:
for idx in sum_fam.index:
    if sum_fam.loc[idx] != tot_fam.loc[idx]:
        print(idx)

C1024
C1068
C1156
C1206
C1218
C1312
C1344
C1424
C1490
C1584
C1695
C1732
C1740
C1804
C1850
C1894
C1910
C1925
C1970
C2013
C2139
C2142
C2156
C2186
C2225
C2245
C2298
C2319
C2362
C2405
C2433
C2453
C2470
C2508
C2520
C2549
C2556
C2568
C2620
C2644

In [9]:
df['자격유형'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O'], dtype=object)