In [2]:
import pandas as pd
import numpy as np

In [38]:
# 데이터 적재
train_data = pd.read_csv('C:/Users/Playdata/Downloads/235745_parking_data/train.csv')
test_data = pd.read_csv('C:/Users/Playdata/Downloads/235745_parking_data/test.csv')
train_data.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [39]:
test_data.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [40]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [5]:
train_data.isna().mean()

단지코드                            0.000000
총세대수                            0.000000
임대건물구분                          0.000000
지역                              0.000000
공급유형                            0.000000
전용면적                            0.000000
전용면적별세대수                        0.000000
공가수                             0.000000
자격유형                            0.000000
임대보증금                           0.192751
임대료                             0.192751
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0.071477
도보 10분거리 내 버스정류장 수              0.001355
단지내주차면수                         0.000000
등록차량수                           0.000000
dtype: float64

In [6]:
train_data['임대건물구분'].unique()

array(['아파트', '상가'], dtype=object)

In [7]:
train_data['공급유형'].value_counts()

국민임대         1758
임대상가          562
행복주택          213
공공임대(10년)     205
영구임대          152
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

국민임대와 공공임대의 차이 <br>
국민임대는 장기임대가 가능하나 주거지 매입 불가<br>
공공임대는 5년 또는 10년후 분양전환 혜택을 줌<br>
국민임대 & 장기전세를 하나로 묶고<br>
공공임대들을 하나로 묶어도 될듯 / 공공임대(10년) & 공공임대(분납) & 공공분양 & 공공임대(5년)

In [8]:
# 자격유형이랑 공급유형을 묶을수 있을거같은데
# 행복주택 : 대학생 / 사회초년생 / 신혼부부 / 고령자 / 주거급여수급자 / 산업단지근로자
train_data.loc[train_data.공급유형.isin(['행복주택']), '자격유형'].value_counts()

J    114
K     33
L     33
N     30
M      2
O      1
Name: 자격유형, dtype: int64

In [9]:
train_data['자격유형'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O'], dtype=object)

In [12]:
train_data.loc[train_data.자격유형.isin(['A']), '공급유형'].value_counts()

국민임대         1539
공공임대(10년)     205
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공임대(5년)        3
영구임대            2
Name: 공급유형, dtype: int64

In [13]:
train_data.loc[train_data.자격유형.isin(['B']), '공급유형'].value_counts()

국민임대    21
Name: 공급유형, dtype: int64

In [14]:
train_data.loc[train_data.자격유형.isin(['C']), '공급유형'].value_counts()

영구임대    95
Name: 공급유형, dtype: int64

In [15]:
train_data.loc[train_data.자격유형.isin(['D']), '공급유형'].value_counts()

임대상가    562
공공분양      7
Name: 공급유형, dtype: int64

In [16]:
train_data.loc[train_data.자격유형.isin(['E']), '공급유형'].value_counts()

국민임대    34
영구임대     3
Name: 공급유형, dtype: int64

In [17]:
train_data.loc[train_data.자격유형.isin(['F']), '공급유형'].value_counts()

영구임대    3
Name: 공급유형, dtype: int64

In [18]:
train_data.loc[train_data.자격유형.isin(['G']), '공급유형'].value_counts()

국민임대    9
Name: 공급유형, dtype: int64

In [19]:
train_data.loc[train_data.자격유형.isin(['H']), '공급유형'].value_counts()

국민임대    155
Name: 공급유형, dtype: int64

In [20]:
train_data.loc[train_data.자격유형.isin(['I']), '공급유형'].value_counts()

영구임대    49
Name: 공급유형, dtype: int64

In [21]:
train_data.loc[train_data.자격유형.isin(['J']), '공급유형'].value_counts()

행복주택    114
Name: 공급유형, dtype: int64

In [22]:
train_data.loc[train_data.자격유형.isin(['K']), '공급유형'].value_counts()

행복주택    33
Name: 공급유형, dtype: int64

In [23]:
train_data.loc[train_data.자격유형.isin(['L']), '공급유형'].value_counts()

행복주택    33
Name: 공급유형, dtype: int64

In [24]:
train_data.loc[train_data.자격유형.isin(['M']), '공급유형'].value_counts()

행복주택    2
Name: 공급유형, dtype: int64

In [25]:
train_data.loc[train_data.자격유형.isin(['N']), '공급유형'].value_counts()

행복주택    30
Name: 공급유형, dtype: int64

In [26]:
train_data.loc[train_data.자격유형.isin(['O']), '공급유형'].value_counts()

행복주택    1
Name: 공급유형, dtype: int64

A - 국민임대 / 공공임대(10, 5) / 공공임대(분납)
B - 국민임대
C - 영구임대
D -  임대상가 / 공공분양
E - 국민임대 / 영구임대
F & I - 영구임대
G&H - 국민임대
J K L M N O - 행복주택

In [32]:
train_data['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].unique()

array([ 0.,  1., nan,  2.,  3.])

In [46]:
test_data['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].unique()

array([ 0., nan,  2.,  1.])

In [35]:
train_data['도보 10분거리 내 버스정류장 수'].unique()

array([ 3.,  1.,  2.,  6., 10.,  5.,  4.,  7., 12., 14.,  8.,  0., 20.,
       11., 16., 15., nan, 19.])

In [47]:
test_data['도보 10분거리 내 버스정류장 수'].unique()
# 50 바꿔야할듯

array([ 2.,  3., 16.,  6.,  1.,  4.,  5.,  8., 10., 13.,  7., 11., 50.,
       12., 14., 18., 15., 19., 17.])

In [37]:
print(train_data['임대보증금'] == " ")

0       False
1       False
2       False
3       False
4       False
        ...
2947    False
2948    False
2949    False
2950    False
2951    False
Name: 임대보증금, Length: 2952, dtype: bool

In [41]:
test_data[test_data.자격유형.isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [44]:
test_data[test_data.단지코드=='C2411']
# 해당 결측치의 자격유형 A 로 넣기

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0

In [45]:
test_data[test_data.단지코드=='C2253']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,NaN,NaN,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,NaN,NaN,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,NaN,NaN,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,NaN,0.0,2.0,173.0
265,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,NaN,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,NaN,0.0,2.0,173.0
267,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,NaN,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
270,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
271,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
272,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
273,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
274,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
277,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
278,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
279,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
280,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,NaN,0.0,2.0,173.0
282,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,NaN,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,NaN,NaN,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,NaN,NaN,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,NaN,NaN,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,NaN,NaN,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,NaN,NaN,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,NaN,NaN,0.0,2.0,173.0